---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=KB_EBSCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.4.1-SNAPSHOT.21 http://10.39.249.101:8081/configurations/entries..
        : 202 1798us'
      - 'GET mod-configuration-4.0.4-SNAPSHOT.36 http://10.39.251.47:8081/configurations/entries..
        : 200 45664us'
      X-Real-Ip:
      - 10.128.0.5
      X-Original-Uri:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 399533/configurations
      X-Okapi-Url:
      - http://10.39.246.147:80
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get","configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "f3fe0127-17a7-49ac-99ec-3c2cb4778b59",
            "module" : "KB_EBSCO",
            "configName" : "api_credentials",
            "code" : "kb.ebsco.credentials",
            "description" : "EBSCO Credentials",
            "enabled" : true,
            "value" : "customer-id=TEST_CUSTOMER_ID&api-key=TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2018-05-31T21:45:09.727+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-05-31T21:45:09.727+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 1,
          "resultInfo" : {
            "totalRecords" : 1,
            "facets" : [ ]
          }
        }
  recorded_at: Tue, 05 Jun 2018 19:16:18 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/117/packages/1757/titles/394532
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - ec969366-68f4-11e8-8f61-d5d6c17a03d8
      X-Amzn-Remapped-Content-Length:
      - '1758'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - IBgsZFmCIAMF-6w=
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Tue, 05 Jun 2018 19:16:18 GMT
    body:
      encoding: UTF-8
      string: '{"titleId":394532,"titleName":"ABC-CLIO Companion to the Native American
        Rights Movement (ABC-CLIO companions to key issues in American history and
        life)","publisherName":"ABC-CLIO Interactive","identifiersList":[{"id":"394532","source":"AtoZ","subtype":0,"type":9},{"id":"56891","source":"ResourceIdentifier","subtype":0,"type":7},{"id":"978-0-87436-822-2","source":"ResourceIdentifier","subtype":1,"type":1},{"id":"978-1-280-72096-3","source":"ResourceIdentifier","subtype":2,"type":1},{"id":"978-1-57607-489-3","source":"ResourceIdentifier","subtype":2,"type":1}],"subjectsList":[{"type":"BISAC","subject":"LAW
        / Constitutional"},{"type":"BISAC","subject":"LAW / Public"}],"isTitleCustom":false,"pubType":"Book","customerResourcesList":[{"titleId":394532,"packageId":1757,"packageName":"OhioLINK
        Electronic Book Center: EBC","packageType":"Variable","proxy":{"id":"<n>","inherited":false},"isPackageCustom":false,"vendorId":117,"vendorName":"OhioLINK","locationId":6926153,"isSelected":true,"isTokenNeeded":false,"visibilityData":{"isHidden":true,"reason":"Hidden
        by Customer"},"managedCoverageList":[{"beginCoverage":"1996-01-01","endCoverage":"1996-12-31"}],"customCoverageList":[{"beginCoverage":"2018-06-05","endCoverage":"2018-06-07"},{"beginCoverage":"2018-06-08","endCoverage":"2018-06-10"}],"coverageStatement":"hello","managedEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"customEmbargoPeriod":{"embargoUnit":"Weeks","embargoValue":4},"url":"http://rave.ohiolink.edu/ebooks/ebc/natri","userDefinedField1":null,"userDefinedField2":null,"userDefinedField3":null,"userDefinedField4":null,"userDefinedField5":null}],"description":null,"edition":null,"isPeerReviewed":false,"contributorsList":[{"type":"author","contributor":"Grossman,
        Mark"}]}'
  recorded_at: Tue, 05 Jun 2018 19:16:18 GMT
recorded_with: VCR 3.0.3
