---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=EKB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.5.2-SNAPSHOT.26 http://10.39.242.252:8081/configurations/entries..
        : 202 318115us'
      - 'GET mod-configuration-5.0.1-SNAPSHOT.45 http://10.39.249.105:8081/configurations/entries..
        : 200 45423us'
      X-Real-Ip:
      - 10.128.0.3
      X-Original-Uri:
      - "/configurations/entries?query=module=EKB"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=EKB"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 397830/configurations
      X-Okapi-Url:
      - http://10.39.245.41:80
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get","configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "d94c5e91-fe82-4eb7-a823-7a28376831a4",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.customerId",
            "description" : "EBSCO RM-API Customer ID",
            "enabled" : true,
            "value" : "TEST_CUSTOMER_ID",
            "metadata" : {
              "createdDate" : "2018-09-24T18:25:04.316+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-24T18:25:04.316+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "2ce03532-7126-43e1-b532-d53d4bd837ff",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.url",
            "description" : "EBSCO RM-API URL",
            "enabled" : true,
            "value" : "https://api.ebsco.io",
            "metadata" : {
              "createdDate" : "2018-09-24T18:25:04.267+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-24T18:25:04.267+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "d414f3c4-85c1-47ac-b42c-d1e0a8294c3d",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.apiKey",
            "description" : "EBSCO RM-API API Key",
            "enabled" : true,
            "value" : "TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2018-09-24T18:25:04.366+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-24T18:25:04.366+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 3,
          "resultInfo" : {
            "totalRecords" : 3,
            "facets" : [ ]
          }
        }
  recorded_at: Thu, 27 Sep 2018 17:49:14 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/123355/packages/2723775
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - a5e615af-c27d-11e8-8da8-ef133205431b
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - N5C0IGRloAMF6Gw=
      X-Amzn-Remapped-Date:
      - Thu, 27 Sep 2018 17:49:14 GMT
    body:
      encoding: UTF-8
      string: '{"packageId":2723775,"packageName":"TEST_CUSTOMER_ID-live-custompackage","isCustom":true,"vendorId":123355,"vendorName":"API
        DEV CORPORATE CUSTOMER","titleCount":11,"isSelected":true,"visibilityData":{"isHidden":false,"reason":""},"selectedCount":11,"isTokenNeeded":false,"contentType":"OnlineReference","customCoverage":{"beginCoverage":"","endCoverage":""},"proxy":{"id":"EZProxy","inherited":true},"allowEbscoToAddTitles":false,"packageToken":null,"packageType":"Custom"}'
  recorded_at: Thu, 27 Sep 2018 17:49:14 GMT
[...]
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/123355/packages/2723775/titles?count=25&offset=1&orderby=titlename&resourcetype=all&search=&searchfield=titlename&selection=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a60fbd6c-c27d-11e8-b4d5-6d5ed79a689d
      X-Amzn-Remapped-Content-Length:
      - '10735'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - N5C0LGnooAMFkoA=
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Thu, 27 Sep 2018 17:49:13 GMT
    body:
      encoding: UTF-8
      string: '{"totalResults":11,"titles":[{"titleId":3208295,"titleName":"Carole
        King 20 Success Facts - Everything You Need to Know About Carole King","publisherName":"Emereo
        Publishing","identifiersList":[{"id":"978-1-4885-9703-9","source":"ResourceIdentifier","subtype":2,"type":1},{"id":"831768","source":"ResourceIdentifier","subtype":0,"type":7},{"id":"2814566","source":"AtoZ","subtype":0,"type":9}],"subjectsList":null,"isTitleCustom":false,"pubType":"Book","customerResourcesList":[{"titleId":3208295,"packageId":2723775,"packageName":"TEST_CUSTOMER_ID-live-custompackage","packageType":"Custom","isPackageCustom":true,"vendorId":123355,"vendorName":"API
        DEV CORPORATE CUSTOMER","locationId":0,"isSelected":true,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason":""},"managedCoverageList":[],"customCoverageList":[],"coverageStatement":null,"managedEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"customEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"url":null,"userDefinedField1":null,"userDefinedField2":null,"userDefinedField3":null,"userDefinedField4":null,"userDefinedField5":null}]},{"titleId":17059813,"titleName":"custom-title-multi-packages","publisherName":null,"identifiersList":null,"subjectsList":null,"isTitleCustom":true,"pubType":"Book","customerResourcesList":[{"titleId":17059813,"packageId":2723775,"packageName":"TEST_CUSTOMER_ID-live-custompackage","packageType":"Custom","isPackageCustom":true,"vendorId":123355,"vendorName":"API
        DEV CORPORATE CUSTOMER","locationId":0,"isSelected":true,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason[...]
