---
http_interactions:
- request:
    method: get
    uri: https://okapi-sandbox.frontside.io/configurations/entries?query=module=KB_EBSCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.1.1-SNAPSHOT.7 http://10.31.244.178:8081/configurations/entries..
        : 202'
      - 'GET mod-configuration-3.0.1-SNAPSHOT.18 http://10.31.253.220:8081/configurations/entries..
        : 200 42045us'
      X-Real-Ip:
      - 10.28.1.1
      X-Original-Uri:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 143271/configurations
      X-Okapi-Url:
      - http://10.31.252.16:80
      X-Okapi-Permissions-Required:
      - configuration.entries.collection.get
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.1.1-SNAPSHOT.7":["perms.users.get"]}'
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "38b02715-f095-4afc-b07f-c299827e9b98",
            "module" : "KB_EBSCO",
            "configName" : "api_credentials",
            "code" : "kb.ebsco.credentials",
            "description" : "EBSCO RM-API Credentials",
            "enabled" : true,
            "value" : "customer-id=TEST_CUSTOMER_ID&api-key=TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2017-11-02T15:56:49.186+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2017-11-02T15:56:49.186+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 1,
          "resultInfo" : {
            "totalRecords" : 1,
            "facets" : [ ]
          }
        }
  recorded_at: Mon, 20 Nov 2017 20:04:00 GMT
- request:
    method: get
    uri: https://sandbox.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/19
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f32aada4-ce2d-11e7-ac55-99773e8bebd6
      X-Amzn-Remapped-Content-Length:
      - '116'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Mon, 20 Nov 2017 20:04:00 GMT
    body:
      encoding: UTF-8
      string: '{"vendorId":19,"vendorName":"EBSCO","vendorToken":null,"isCustomer":false,"packagesTotal":602,"packagesSelected":54}'
  recorded_at: Mon, 20 Nov 2017 20:04:00 GMT
- request:
    method: get
    uri: https://sandbox.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/19/packages?count=25&offset=1&orderby=packagename&search=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f3523314-ce2d-11e7-804c-5752318e0356
      X-Amzn-Remapped-Content-Length:
      - '8479'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Mon, 20 Nov 2017 20:04:00 GMT
    body:
      encoding: UTF-8
      string: '{"totalResults":602,"packagesList":[{"packageId":2516,"packageName":"Abstracts
        in Social Gerontology","isCustom":false,"vendorId":19,"vendorName":"EBSCO","titleCount":1,"isSelected":true,"visibilityData":{"isHidden":false,"reason":""},"selectedCount":1,"isTokenNeeded":false,"contentType":"AbstractAndIndex","customCoverage":{"beginCoverage":null,"endCoverage":null}},{"packageId":1073,"packageName":"Academic
        Search Alumni Edition","isCustom":false,"vendorId":19,"vendorName":"EBSCO","titleCount":3716,"isSelected":true,"visibilityData":{"isHidden":false,"reason":""},"selectedCount":3716,"isTokenNeeded":false,"contentType":"AggregatedFullText","customCoverage":{"beginCoverage":null,"endCoverage":null}},{"packageId":1615,"packageName":"Academic
        Search Complete","isCustom":false,"vendorId":19,"vendorName":"EBSCO","titleCount":11048,"isSelec[...]
