---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=KB_EBSCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.2.0-SNAPSHOT.14 http://10.39.255.104:8081/configurations/entries..
        : 202 353272us'
      - 'GET mod-configuration-4.0.1-SNAPSHOT.23 http://10.39.243.63:8081/configurations/entries..
        : 200 43004us'
      X-Real-Ip:
      - 10.128.0.5
      X-Original-Uri:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 177019/configurations
      X-Okapi-Url:
      - http://10.39.248.95:80
      X-Okapi-Permissions-Required:
      - configuration.entries.collection.get
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.2.0-SNAPSHOT.14":["perms.users.get"]}'
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "fa776aae-7473-4bf9-aa33-08f2a314cb04",
            "module" : "KB_EBSCO",
            "configName" : "api_credentials",
            "code" : "kb.ebsco.credentials",
            "description" : "EBSCO RM-API Credentials",
            "enabled" : true,
            "value" : "customer-id=TEST_CUSTOMER_ID&api-key=TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2017-11-02T15:56:49.186+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2017-11-02T15:56:49.186+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 1,
          "resultInfo" : {
            "totalRecords" : 1,
            "facets" : [ ]
          }
        }
  recorded_at: Thu, 25 Jan 2018 18:20:39 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - 729c443e-01fc-11e8-a033-ad76a9d857af
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amzn-Remapped-Date:
      - Thu, 25 Jan 2018 18:20:40 GMT
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":1001,"subCode":0,"message":"Vendor not found"}]}'
  recorded_at: Thu, 25 Jan 2018 18:20:40 GMT
recorded_with: VCR 3.0.3
