---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=EKB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.5.2-SNAPSHOT.26 http://10.39.242.252:8081/configurations/entries..
        : 202 1338us'
      - 'GET mod-configuration-5.0.1-SNAPSHOT.45 http://10.39.249.105:8081/configurations/entries..
        : 200 42186us'
      X-Real-Ip:
      - 10.128.0.3
      X-Original-Uri:
      - "/configurations/entries?query=module=EKB"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=EKB"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 845598/configurations
      X-Okapi-Url:
      - http://10.39.245.41:80
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get","configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "efadf3d8-59c3-4508-99d4-3e36e9247d87",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.url",
            "description" : "EBSCO RM-API URL",
            "enabled" : true,
            "value" : "https://api.ebsco.io",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.189+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.189+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "6b24b703-243a-4261-a7bf-0336d34f8c94",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.customerId",
            "description" : "EBSCO RM-API Customer ID",
            "enabled" : true,
            "value" : "TEST_CUSTOMER_ID",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.466+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.466+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "8038c4f3-0b09-4d97-be46-8a5236ef3f2f",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.apiKey",
            "description" : "EBSCO RM-API API Key",
            "enabled" : true,
            "value" : "TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.788+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.788+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 3,
          "resultInfo" : {
            "totalRecords" : 3,
            "facets" : [ ]
          }
        }
  recorded_at: Wed, 12 Sep 2018 22:51:16 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/titles/169441
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 5b0be09e-b6de-11e8-84fe-b16ba5114c47
      X-Amzn-Remapped-Content-Length:
      - '4321'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NIS_pFuqIAMF3pQ=
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Wed, 12 Sep 2018 22:51:16 GMT
    body:
      encoding: UTF-8
      string: '{"titleId":169441,"titleName":"A Better World for All: Progress Towards
        the International Development Goals","publisherName":"OECD Publications Centre","identifiersList":[{"id":"169441","source":"AtoZ","subtype":0,"type":9},{"id":"978-1-280-03078-9","source":"ResourceIdentifier","subtype":2,"type":1},{"id":"978-92-64-18255-4","source":"ResourceIdentifier","subtype":1,"type":1},{"id":"978-92-64-18256-1","source":"ResourceIdentifier","subtype":2,"type":1}],"subjectsList":[{"type":"TLI","subject":"Development
        Economics"}],"isTitleCustom":false,"pubType":"Book","customerResourcesList":[{"titleId":169441,"packageId":1022,"packageName":"OECD-iLibrary
        Books & Papers","packageType":"Variable","proxy":{"id":"EZProxy","inherited":true},"isPackageCustom":false,"vendorId":89,"vendorName":"OECD","locationId":826750,"isSelected":false,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason":""},"managedCoverageList":[{"beginCoverage":"2000-01-01","endCoverage":"2000-12-31"}],"customCoverageList":[],"coverageStatement":null,"managedEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"customEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"url":"https://dx.doi.org/10.1787/9789264182561-en","userDefinedField1":null,"userDefinedField2":null,"userDefinedField3":null,"userDefinedField4":null,"userDefinedField5":null},{"titleId":169441,"packageId":3949,"packageName":"OECD-iLibrary
        Books, Papers & Statistics","packageType":"Variable","proxy":{"id":"<n>","inherited":true},"isPackageCustom":false,"vendorId":89,"vendorName":"OECD","locationId":2278298,"isSelected":false,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason":""},"managedCoverageList":[{"beginCoverage":"2000-01-01","endCoverage":"2000-12-31"}],"customCoverageList":[],"coverageStatement":null,"managedEmbargoPeriod":{"embargo[...]
