---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=KB_EBSCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.4.1-SNAPSHOT.20 http://10.39.247.20:8081/configurations/entries..
        : 202 381546us'
      - 'GET mod-configuration-4.0.3-SNAPSHOT.29 http://10.39.248.16:8081/configurations/entries..
        : 200 45628us'
      X-Real-Ip:
      - 10.36.4.1
      X-Original-Uri:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 178760/configurations
      X-Okapi-Url:
      - http://10.39.253.90:80
      X-Okapi-Permissions-Required:
      - configuration.entries.collection.get
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.4.1-SNAPSHOT.20":["perms.users.get"]}'
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "f319326e-a420-440d-b034-4f4a62619cb4",
            "module" : "KB_EBSCO",
            "configName" : "api_credentials",
            "code" : "kb.ebsco.credentials",
            "description" : "EBSCO RM-API Credentials",
            "enabled" : true,
            "value" : "customer-id=TEST_CUSTOMER_ID&api-key=TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2018-03-16T05:38:48.299+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-03-16T05:38:48.299+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 1,
          "resultInfo" : {
            "totalRecords" : 1,
            "facets" : [ ]
          }
        }
  recorded_at: Wed, 21 Mar 2018 08:38:28 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - 558a2e5e-2ea9-11e8-a96d-6f9240e3352e
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ENALOFlhIAMFqKw=
      X-Amzn-Remapped-Date:
      - Fri, 23 Mar 2018 14:49:05 GMT
    body:
      encoding: UTF-8
      string: '{"proxy":{"id":"EZProxy"},"labels":[{"id":1,"displayLabel":"Hello 1st
        label","displayOnFullTextFinder":true,"displayOnPublicationFinder":false},{"id":2,"displayLabel":"Hello
        2nd label","displayOnFullTextFinder":true,"displayOnPublicationFinder":false},{"id":3,"displayLabel":"Hello
        awesome label","displayOnFullTextFinder":false,"displayOnPublicationFinder":false},{"id":4,"displayLabel":"Hello
        grr label","displayOnFullTextFinder":true,"displayOnPublicationFinder":false},{"id":5,"displayLabel":"Hello
        5th label","displayOnFullTextFinder":true,"displayOnPublicationFinder":false}]}'
  recorded_at: Wed, 21 Mar 2018 08:38:29 GMT
recorded_with: VCR 3.0.3
