---
http_interactions:
- request:
    method: get
    uri: https://okapi-sandbox.frontside.io/configurations/entries?query=module=KB_EBSCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.1.1-SNAPSHOT.7 http://10.31.245.25:8081/configurations/entries..
        : 202'
      - 'GET mod-configuration-3.0.1-SNAPSHOT.18 http://10.31.240.95:8081/configurations/entries..
        : 200 46354us'
      X-Real-Ip:
      - 10.28.1.1
      X-Original-Uri:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 398002/configurations
      X-Okapi-Url:
      - http://10.31.240.183:80
      X-Okapi-Permissions-Required:
      - configuration.entries.collection.get
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.1.1-SNAPSHOT.7":["perms.users.get"]}'
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "38b02715-f095-4afc-b07f-c299827e9b98",
            "module" : "KB_EBSCO",
            "configName" : "api_credentials",
            "code" : "kb.ebsco.credentials",
            "description" : "EBSCO RM-API Credentials",
            "enabled" : true,
            "value" : "customer-id=TEST_CUSTOMER_ID&api-key=uPZQBbQ8oY4WRFSJC4Kcp6iVbyyFoXj19LrG07y1",
            "metadata" : {
              "createdDate" : "2017-11-02T15:56:49.186+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2017-11-02T15:56:49.186+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 1,
          "resultInfo" : {
            "totalRecords" : 1,
            "facets" : [ ]
          }
        }
  recorded_at: Wed, 08 Nov 2017 19:19:49 GMT
- request:
    method: get
    uri: https://sandbox.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/1/packages/2/titles/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - uPZQBbQ8oY4WRFSJC4Kcp6iVbyyFoXj19LrG07y1
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - c9c9834d-c4b9-11e7-aac5-a58bc171ad3b
      X-Amzn-Remapped-Content-Length:
      - '67'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Wed, 08 Nov 2017 19:19:49 GMT
    body:
      encoding: UTF-8
      string: '{"Errors":[{"Code":1001,"Message":"Vendor not found","SubCode":0}]}'
  recorded_at: Wed, 08 Nov 2017 19:19:49 GMT
recorded_with: VCR 3.0.3
