---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=KB_EBSCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.4.1-SNAPSHOT.20 http://10.39.249.72:8081/configurations/entries..
        : 202 890us'
      - 'GET mod-configuration-4.0.3-SNAPSHOT.29 http://10.39.252.104:8081/configurations/entries..
        : 200 42138us'
      X-Real-Ip:
      - 10.36.4.1
      X-Original-Uri:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 858628/configurations
      X-Okapi-Url:
      - http://10.39.243.220:80
      X-Okapi-Permissions-Required:
      - configuration.entries.collection.get
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.4.1-SNAPSHOT.20":["perms.users.get"]}'
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "9f193b46-4cc5-4c99-b09f-374fe5415673",
            "module" : "KB_EBSCO",
            "configName" : "api_credentials",
            "code" : "kb.ebsco.credentials",
            "description" : "EBSCO RM-API Credentials",
            "enabled" : true,
            "value" : "customer-id=TEST_CUSTOMER_ID&api-key=TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2018-03-28T14:49:56.794+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-03-28T14:49:56.794+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 1,
          "resultInfo" : {
            "totalRecords" : 1,
            "facets" : [ ]
          }
        }
  recorded_at: Wed, 18 Apr 2018 22:49:32 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors?count=25&offset=1&orderby=relevance&search=TEST_CUSTOMER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - c2c24837-435a-11e8-80d6-1f40e0b2ac56
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Fjy7gHxcoAMFmwA=
      X-Amzn-Remapped-Date:
      - Wed, 18 Apr 2018 22:49:32 GMT
    body:
      encoding: UTF-8
      string: '{"totalResults":1,"vendors":[{"vendorId":123355,"vendorName":"API DEV
        CORPORATE CUSTOMER","isCustomer":true,"packagesTotal":47,"packagesSelected":47,"vendorToken":null}]}'
  recorded_at: Wed, 18 Apr 2018 22:49:32 GMT
- request:
    method: post
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/123355/packages/2843712/titles
    body:
      encoding: UTF-8
      string: '{"titleName":"New Custom Title Testing","pubType":"book"}'
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - c2dad98a-435a-11e8-a135-9fa4ab248814
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Fjy7iGoBIAMFvBw=
      X-Amzn-Remapped-Date:
      - Wed, 18 Apr 2018 22:49:32 GMT
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":1006,"subCode":0,"message":"Custom Title with the
        provided name already exists"}]}'
  recorded_at: Wed, 18 Apr 2018 22:49:33 GMT
recorded_with: VCR 3.0.3
