---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=KB_EBSCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.1.1-SNAPSHOT.7 http://10.39.243.223:8081/configurations/entries..
        : 202'
      - 'GET mod-configuration-3.0.1-SNAPSHOT.18 http://10.39.247.37:8081/configurations/entries..
        : 200 45374us'
      X-Real-Ip:
      - 10.128.0.3
      X-Original-Uri:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 922964/configurations
      X-Okapi-Url:
      - http://10.39.247.213:80
      X-Okapi-Permissions-Required:
      - configuration.entries.collection.get
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.1.1-SNAPSHOT.7":["perms.users.get"]}'
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "779b34bb-450f-403d-af89-6a9671e0757d",
            "module" : "KB_EBSCO",
            "configName" : "api_credentials",
            "code" : "kb.ebsco.credentials",
            "description" : "EBSCO RM-API Credentials",
            "enabled" : true,
            "value" : "customer-id=TEST_CUSTOMER_ID&api-key=TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2017-11-22T18:59:05.198+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2017-11-22T18:59:05.198+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 1,
          "resultInfo" : {
            "totalRecords" : 1,
            "facets" : [ ]
          }
        }
  recorded_at: Wed, 22 Nov 2017 19:11:36 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors?count=1&offset=1&orderby=vendorname&search=zz12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - f61542e0-cfb8-11e7-933a-296657c38ca2
      X-Amzn-Remapped-Content-Length:
      - '31'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Wed, 22 Nov 2017 19:11:36 GMT
    body:
      encoding: UTF-8
      string: '{"totalResults":0,"vendors":[]}'
  recorded_at: Wed, 22 Nov 2017 19:11:36 GMT
[...]
- request:
    method: delete
    uri: https://okapi.frontside.io/configurations/entries/779b34bb-450f-403d-af89-6a9671e0757d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Okapi-Trace:
      - 'DELETE mod-authtoken-1.1.1-SNAPSHOT.7 http://10.39.243.223:8081/configuratio[...]
- request:
    method: post
    uri: https://okapi.frontside.io/configurations/entries
    body:
      encoding: UTF-8
      string: '{"module":"KB_EBSCO","configName":"api_credentials","code":"kb.ebsco.credentials","description":"EBSCO
        RM-API Credentials","enabled":true,"value":"customer-id=TEST_CUSTOMER_ID&api-key=TEST_API_KEY"}'
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'POST mod-authtoken-1.1.1-SNAPSHOT.7 http://10.39.243.223:8081/configurations/entries
        : 202'
      - 'POST mod-configuration-3.0.1-SNAPSHOT.18 http://10.39.247.37:8081/configurations/entries
        : 201 43658us'
      Location:
      - "/configurations/entries/0ccfbcb5-a2eb-4bb8-bee4-b918a8d0aeaa"
      X-Real-Ip:
      - 10.128.0.3
      X-Original-Uri:
      - "/configurations/entries"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 103639/configurations
      X-Okapi-Url:
      - http://10.39.247.213:80
      X-Okapi-Permissions-Required:
      - configuration.entries.item.post
      X-Okapi-Module-Perm[...]
