---
http_interactions:
- request:
    method: get
    uri: https://okapi-sandbox.frontside.io/configurations/entries?query=module=KB_EBSCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.0.1-SNAPSHOT.4 http://10.31.248.123:8081/configurations/entries..
        : 202'
      - 'GET mod-configuration-3.0.1-SNAPSHOT.18 http://10.31.254.128:8081/configurations/entries..
        : 200 43497us'
      X-Real-Ip:
      - 10.128.0.10
      X-Original-Uri:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - '027987/configurations'
      X-Okapi-Url:
      - http://10.31.244.201:80
      X-Okapi-Permissions-Required:
      - configuration.entries.collection.get
      X-Okapi-Module-Permissions:
      - '{"mod-authtoken-1.0.1-SNAPSHOT.4":["perms.users.get"]}'
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "76372052-6c72-4012-afd5-5849bc3c7cd4",
            "module" : "KB_EBSCO",
            "configName" : "api_credentials",
            "code" : "kb.ebsco.credentials",
            "description" : "EBSCO RM-API Credentials",
            "enabled" : true,
            "value" : "customer-id=TEST_CUSTOMER_ID&api-key=TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2017-10-16T20:35:40.271+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2017-10-16T20:35:40.271+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 1,
          "resultInfo" : {
            "totalRecords" : 1,
            "facets" : [ ]
          }
        }
  recorded_at: Mon, 16 Oct 2017 22:51:23 GMT
- request:
    method: get
    uri: https://sandbox.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors?count=1&offset=1&orderby=vendorname&search=zz12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 88c538a0-b2c4-11e7-bf1a-298e4e7590c2
      X-Amzn-Remapped-Content-Length:
      - '31'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Mon, 16 Oct 2017 22:51:23 GMT
    body:
      encoding: UTF-8
      string: '{"totalResults":0,"vendors":[]}'
  recorded_at: Mon, 16 Oct 2017 22:51:23 GMT
[...]
- request:
    method: delete
    uri: https://okapi-sandbox.frontside.io/configurations/entries/76372052-6c72-4012-afd5-5849bc3c7cd4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Okapi-Trace:
      - 'DELETE mod-authtoken-1.0.1-SNAPSHOT.4 http://10.31.248.123:8081/conf[...]
- request:
    method: post
    uri: https://okapi-sandbox.frontside.io/configurations/entries
    body:
      encoding: UTF-8
      string: '{"module":"KB_EBSCO","configName":"api_credentials","code":"kb.ebsco.credentials","description":"EBSCO
        RM-API Credentials","enabled":true,"value":"customer-id=TEST_CUSTOMER_ID&api-key=TEST_API_KEY"}'
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'POST mod-authtoken-1.0.1-SNAPSHOT.4 http://10.31.248.123:8081/configurations/entries
        : 202'
      - 'POST mod-configuration-3.0.1-SNAPSHOT.18 http://10.31.254.128:8081/configurations/entries
        : 201 48668us'
      Location:
      - "/configurations/entries/b3065805-315c-446f-99a6-d2d56ae1c66e"
      X-Real-Ip:
      - 10.28.1.1
      X-Original-Uri:
      - "/configurations/entries"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 736716/configurations
      X-Okapi-Url:
      - http://10.31.244.201:80
      X-Okapi-Permissions-Required:
      - configuration.entries.item.post
      X-Okapi-Module-Permi[...]
