---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=EKB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.5.2-SNAPSHOT.26 http://10.39.242.252:8081/configurations/entries..
        : 202 1494us'
      - 'GET mod-configuration-5.0.1-SNAPSHOT.45 http://10.39.249.105:8081/configurations/entries..
        : 200 45679us'
      X-Real-Ip:
      - 10.36.5.1
      X-Original-Uri:
      - "/configurations/entries?query=module=EKB"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=EKB"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 326087/configurations
      X-Okapi-Url:
      - http://10.39.245.41:80
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get","configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "efadf3d8-59c3-4508-99d4-3e36e9247d87",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.url",
            "description" : "EBSCO RM-API URL",
            "enabled" : true,
            "value" : "https://api.ebsco.io",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.189+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.189+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "6b24b703-243a-4261-a7bf-0336d34f8c94",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.customerId",
            "description" : "EBSCO RM-API Customer ID",
            "enabled" : true,
            "value" : "TEST_CUSTOMER_ID",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.466+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.466+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "8038c4f3-0b09-4d97-be46-8a5236ef3f2f",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.apiKey",
            "description" : "EBSCO RM-API API Key",
            "enabled" : true,
            "value" : "TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.788+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.788+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 3,
          "resultInfo" : {
            "totalRecords" : 3,
            "facets" : [ ]
          }
        }
  recorded_at: Wed, 12 Sep 2018 13:22:33 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/123355/packages/2843714/titles/17059805
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e8a0e659-b68e-11e8-be03-87c864fa6ced
      X-Amzn-Remapped-Content-Length:
      - '1196'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NG_sDGlpIAMF7GA=
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Wed, 12 Sep 2018 13:22:32 GMT
    body:
      encoding: UTF-8
      string: '{"titleId":17059805,"titleName":"I have a great new title name","publisherName":"test
        publisher","identifiersList":[],"subjectsList":[],"isTitleCustom":true,"pubType":"BookSeries","customerResourcesList":[{"titleId":17059805,"packageId":2843714,"packageName":"SD''s
        test package in TEST_CUSTOMER_ID","packageType":"Custom","proxy":{"id":"TestingFolio","inherited":true},"isPackageCustom":true,"vendorId":123355,"vendorName":"API
        DEV CORPORATE CUSTOMER","locationId":41321345,"isSelected":true,"isTokenNeeded":false,"visibilityData":{"isHidden":true,"reason":"Hidden
        by Customer"},"managedCoverageList":[],"customCoverageList":[{"beginCoverage":"2003-01-01","endCoverage":"2003-12-12"}],"coverageStatement":"We
        have so much coverage.","managedEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"customEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"url":"http://url
        ","userDefinedField1":null,"userDefinedField2":null,"userDefinedField3":null,"userDefinedField4":null,"userDefinedField5":null}],"description":"Test
        Description again to test again","edition":"23","isPeerReviewed":true,"contributorsList":[{"type":"editor","contributor":"Lang
        Z"},{"type":"illustrator","contributor":"last first"}]}'
  recorded_at: Wed, 12 Sep 2018 13:22:34 GMT
- request:
    method: put
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/123355/packages/2843714/titles/17059805
    body:
      encoding: UTF-8
      string: '{"isSelected":true,"isHidden":true,"customCoverageList":[{"beginCoverage":"2003-01-01","endCoverage":"2003-12-12"}],"contributorsList":null,"identifiersList":[{"id":"12345","subtype":1,"type":0},{"id":"12345","subtype":1,"type":1}],"customEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"coverageStatement":"We
        have so much coverage.","titleName":"Update Custom Title Testing Valid Identifier
        Types","pubType":"book","isPeerReviewed":true,"publisherName":"test publisher","edition":"23","description":"Test
        Description again to test again","url":"http://url ","proxy":{"id":"TestingFolio","inherited":false}}'
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - e8c277c7-b68e-11e8-9259-43712f9d6313
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NG_sFEEEoAMFzvA=
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Wed, 12 Sep 2018 13:22:32 GMT
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Sep 2018 13:22:34 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/123355/packages/2843714/titles/17059805
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - e90796e8-b68e-11e8-b1fb-ab8b34004630
      X-Amzn-Remapped-Content-Length:
      - '1252'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NG_sKEsZoAMF3cQ=
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Wed, 12 Sep 2018 13:22:32 GMT
    body:
      encoding: UTF-8
      string: '{"titleId":17059805,"titleName":"Update Custom Title Testing Valid
        Identifier Types","publisherName":"test publisher","identifiersList":[{"id":"12345","source":"ResourceIdentifier","subtype":1,"type":0},{"id":"12345","source":"ResourceIdentifier","subtype":1,"type":1}],"subjectsList":[],"isTitleCustom":true,"pubType":"Book","customerResourcesList":[{"titleId":17059805,"packageId":2843714,"packageName":"SD''s
        test package in TEST_CUSTOMER_ID","packageType":"Custom","proxy":{"id":"TestingFolio","inherited":true},"isPackageCustom":true,"vendorId":123355,"vendorName":"API
        DEV CORPORATE CUSTOMER","locationId":41321345,"isSelected":true,"isTokenNeeded":false,"visibilityData":{"isHidden":true,"reason":"Hidden
        by Customer"},"managedCoverageList":[],"customCoverageList":[{"beginCoverage":"2003-01-01","endCoverage":"2003-12-12"}],"coverageStatement":"We
        have so much coverage.","managedEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"customEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"url":"http://url
        ","userDefinedField1":null,"userDefinedField2":null,"userDefinedField3":null,"userDefinedField4":null,"userDefinedField5":null}],"description":"Test
        Description again to test again","edition":"23","isPeerReviewed":true,"contributorsList":[]}'
  recorded_at: Wed, 12 Sep 2018 13:22:34 GMT
recorded_with: VCR 3.0.3
