---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=EKB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.5.2-SNAPSHOT.26 http://10.39.242.252:8081/configurations/entries..
        : 202 1504us'
      - 'GET mod-configuration-5.0.1-SNAPSHOT.45 http://10.39.249.105:8081/configurations/entries..
        : 200 42851us'
      X-Real-Ip:
      - 10.36.5.1
      X-Original-Uri:
      - "/configurations/entries?query=module=EKB"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=EKB"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 254782/configurations
      X-Okapi-Url:
      - http://10.39.245.41:80
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get","configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "efadf3d8-59c3-4508-99d4-3e36e9247d87",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.url",
            "description" : "EBSCO RM-API URL",
            "enabled" : true,
            "value" : "https://api.ebsco.io",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.189+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.189+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "6b24b703-243a-4261-a7bf-0336d34f8c94",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.customerId",
            "description" : "EBSCO RM-API Customer ID",
            "enabled" : true,
            "value" : "TEST_CUSTOMER_ID",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.466+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.466+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "8038c4f3-0b09-4d97-be46-8a5236ef3f2f",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.apiKey",
            "description" : "EBSCO RM-API API Key",
            "enabled" : true,
            "value" : "TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.788+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.788+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 3,
          "resultInfo" : {
            "totalRecords" : 3,
            "facets" : [ ]
          }
        }
  recorded_at: Wed, 12 Sep 2018 18:04:30 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/22/packages/1887786/titles/1440285
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 4b98fb2e-b6b6-11e8-8364-cdc1c53b01f6
      X-Amzn-Remapped-Content-Length:
      - '1642'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NHo_PFWLoAMFRoQ=
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Wed, 12 Sep 2018 18:04:29 GMT
    body:
      encoding: UTF-8
      string: '{"titleId":1440285,"titleName":"Havard''s Nursing Guide to Drugs (Nursing
        Guide to Drugs)","publisherName":"Elsevier","identifiersList":[{"id":"1440285","source":"AtoZ","subtype":0,"type":9},{"id":"475765","source":"ResourceIdentifier","subtype":0,"type":7},{"id":"978-0-7295-3913-5","source":"ResourceIdentifier","subtype":1,"type":1},{"id":"978-0-7295-7913-1","source":"ResourceIdentifier","subtype":2,"type":1}],"subjectsList":[{"type":"BISAC","subject":"MEDICAL
        / Nursing / Pharmacology"}],"isTitleCustom":false,"pubType":"Book","customerResourcesList":[{"titleId":1440285,"packageId":1887786,"packageName":"ProQuest
        Ebook Central","packageType":"Variable","proxy":{"id":"EZProxy","inherited":false},"isPackageCustom":false,"vendorId":22,"vendorName":"Proquest
        Info & Learning Co","locationId":17545807,"isSelected":true,"isTokenNeeded":true,"visibilityData":{"isHidden":true,"reason":"Hidden
        by Customer"},"managedCoverageList":[{"beginCoverage":"2010-01-01","endCoverage":"2010-12-31"}],"customCoverageList":[{"beginCoverage":"2003-01-01","endCoverage":"2004-01-01"}],"coverageStatement":"Only
        2000s issues available.","managedEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"customEmbargoPeriod":{"embargoUnit":"Months","embargoValue":5},"url":"https://ebookcentral.proquest.com/lib/[[SiteID]]/detail.action?docID=1722033","userDefinedField1":null,"userDefinedField2":null,"userDefinedField3":null,"userDefinedField4":null,"userDefinedField5":null}],"description":null,"edition":null,"isPeerReviewed":false,"contributorsList":[{"type":"author","contributor":"Havard,
        Margaret"},{"type":"author","contributor":"Tiziani, Adriana."}]}'
  recorded_at: Wed, 12 Sep 2018 18:04:30 GMT
[...]
