---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=EKB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.5.2-SNAPSHOT.26 http://10.39.242.252:8081/configurations/entries..
        : 202 519267us'
      - 'GET mod-configuration-5.0.1-SNAPSHOT.45 http://10.39.249.105:8081/configurations/entries..
        : 200 263518us'
      X-Real-Ip:
      - 10.128.0.4
      X-Original-Uri:
      - "/configurations/entries?query=module=EKB"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=EKB"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 811111/configurations
      X-Okapi-Url:
      - http://10.39.245.41:80
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get","configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "d35d1d52-ca4b-48ab-afe2-27a1e9adaa97",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.url",
            "description" : "EBSCO RM-API URL",
            "enabled" : true,
            "value" : "https://api.ebsco.io",
            "metadata" : {
              "createdDate" : "2018-09-11T18:53:43.223+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-11T18:53:43.223+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "ad544220-967b-4b91-8c19-d0de6c3c2761",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.customerId",
            "description" : "EBSCO RM-API Customer ID",
            "enabled" : true,
            "value" : "TEST_CUSTOMER_ID",
            "metadata" : {
              "createdDate" : "2018-09-11T18:53:43.428+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-11T18:53:43.428+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "8a15438f-ec4f-4e67-8b28-498acb259e3b",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.apiKey",
            "description" : "EBSCO RM-API API Key",
            "enabled" : true,
            "value" : "TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2018-09-11T18:53:43.624+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-11T18:53:43.624+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 3,
          "resultInfo" : {
            "totalRecords" : 3,
            "facets" : [ ]
          }
        }
  recorded_at: Wed, 12 Sep 2018 12:34:50 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors?count=1&offset=1&orderby=vendorname&search=zz12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - 3dfeb449-b688-11e8-a5c1-117c8f3f5221
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - NG4sqFZXIAMFyiQ=
      X-Amzn-Remapped-Date:
      - Wed, 12 Sep 2018 12:34:50 GMT
    body:
      encoding: UTF-8
      string: '{"totalResults":0,"vendors":[]}'
  recorded_at: Wed, 12 Sep 2018 12:34:50 GMT
[...]
- request:
    method: delete
    uri: https://okapi.frontside.io/configurations/entries/d35d1d52-ca4b-48ab-afe2-27a1e9adaa97
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Okapi-Trace:
      - 'DELETE mod-authtoken-1.5.2-SNAPSHOT.26 http://10.39.242.252:8081/configurations/entries/d35d1d52-ca4b-48ab-afe2-27a1e9adaa97
        : 202 2229us'
      - 'DELETE mod-configuration-5.0.1-SNAPSHOT.45 http://10.39.249.105:8081/configurations/entries/d35d1d52-ca4b-48ab-afe2-27a1e9adaa97
        : 204 50402us'
      X-Real-Ip:
      - 10.36.5.1
      X-Original-Uri:
      - "/configurations/entries/d35d1d52-ca4b-48ab-afe2-27a1e9adaa97"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries/d35d1d52-ca4b-48ab-afe2-27a1e9adaa97"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 921350/configurations
      X-Okapi-Url:
      - http://10.39.245.41:80
      X-Okapi-Permissions:
      - '["configuration.entries.item.delete"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Sep 2018 12:34:51 GMT
[...]
- request:
    method: post
    uri: https://okapi.frontside.io/configurations/entries
    body:
      encoding: UTF-8
      string: '{"module":"EKB","configName":"api_access","code":"kb.ebsco.url","description":"EBSCO
        RM-API URL","enabled":true,"value":"https://api.ebsco.io"}'
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'POST mod-authtoken-1.5.2-SNAPSHOT.26 http://10.39.242.252:8081/configurations/entries
        : 202 1822us'
      - 'POST mod-configuration-5.0.1-SNAPSHOT.45 http://10.39.249.105:8081/configurations/entries
        : 201 51855us'
      Location:
      - "/configurations/entries/efadf3d8-59c3-4508-99d4-3e36e9247d87"
      X-Real-Ip:
      - 10.128.0.3
      X-Original-Uri:
      - "/configurations/entries"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 965466/configurations
      X-Okapi-Url:
      - http://10.39.245.41:80
      X-Okapi-Permissions:
      - '["configuration.entries.item.post","configuration.entries.item.post"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "efadf3d8-59c3-4508-99d4-3e36e9247d87",
          "module" : "EKB",
          "configName" : "api_access",
          "code" : "kb.ebsco.url",
          "description" : "EBSCO RM-API URL",
          "enabled" : true,
          "value" : "https://api.ebsco.io",
          "metadata" : {
            "createdDate" : "2018-09-12T12:34:52.189+0000",
            "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
            "updatedDate" : "2018-09-12T12:34:52.189+0000",
            "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
          }
        }
  recorded_at: Wed, 12 Sep 2018 12:34:52 GMT
[...]
