---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=KB_EBSCO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.4.1-SNAPSHOT.21 http://10.39.255.17:8081/configurations/entries..
        : 202 307743us'
      - 'GET mod-configuration-4.0.4-SNAPSHOT.36 http://10.39.247.129:8081/configurations/entries..
        : 200 44091us'
      X-Real-Ip:
      - 10.128.0.5
      X-Original-Uri:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=KB_EBSCO"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 659334/configurations
      X-Okapi-Url:
      - http://10.39.254.87:80
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get","configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "28fd0ce0-108e-4471-8a7b-4645319fd707",
            "module" : "KB_EBSCO",
            "configName" : "api_credentials",
            "code" : "kb.ebsco.credentials",
            "description" : "EBSCO RM-API Credentials",
            "enabled" : true,
            "value" : "customer-id=TEST_CUSTOMER_ID&api-key=TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2018-06-26T13:23:48.592+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-06-26T13:23:48.592+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 1,
          "resultInfo" : {
            "totalRecords" : 1,
            "facets" : [ ]
          }
        }
  recorded_at: Mon, 23 Jul 2018 18:24:39 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/123355/packages/2864301
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - a93ac8b5-8ea5-11e8-bd45-e95d7af87852
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - KfmIKGVrIAMF13w=
      X-Amzn-Remapped-Date:
      - Mon, 23 Jul 2018 18:24:39 GMT
    body:
      encoding: UTF-8
      string: '{"packageId":2864301,"packageName":"joes_test3","isCustom":true,"vendorId":123355,"vendorName":"API
        DEV CORPORATE CUSTOMER","titleCount":6,"isSelected":true,"visibilityData":{"isHidden":false,"reason":""},"selectedCount":6,"isTokenNeeded":false,"contentType":"EJournal","customCoverage":{"beginCoverage":"2018-05-08","endCoverage":"2018-05-31"},"proxy":{"id":"<n>","inherited":true},"allowEbscoToAddTitles":false,"packageToken":null,"packageType":"Custom"}'
  recorded_at: Mon, 23 Jul 2018 18:24:39 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/titles/3129599
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a94fd748-8ea5-11e8-a013-7b79548dc045
      X-Amzn-Remapped-Content-Length:
      - '1293'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - KfmIME76IAMFQXA=
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Mon, 23 Jul 2018 18:24:39 GMT
    body:
      encoding: UTF-8
      string: '{"titleId":3129599,"titleName":"The Carole Lombard Handbook - Everything
        you need to know about Carole Lombard","publisherName":"Emereo Publishing","identifiersList":[{"id":"2748990","source":"AtoZ","subtype":0,"type":9},{"id":"978-1-283-74485-0","source":"ResourceIdentifier","subtype":2,"type":1},{"id":"978-1-74304-061-4","source":"ResourceIdentifier","subtype":1,"type":1}],"subjectsList":[],"isTitleCustom":false,"pubType":"Book","customerResourcesList":[{"titleId":3129599,"packageId":1861142,"packageName":"MyiLibrary","packageType":"Variable","proxy":{"id":"TestingFolio","inherited":true},"isPackageCustom":false,"vendorId":58388,"vendorName":"Ingram
        Content Group, Inc.","locationId":9453518,"isSelected":false,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason":""},"managedCoverageList":[{"beginCoverage":"2012-01-01","endCoverage":"2012-12-31"}],"customCoverageList":[],"coverageStatement":null,"managedEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"customEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"url":"http://lib.myilibrary.com?id=405735","userDefinedField1":null,"userDefinedField2":null,"userDefinedField3":null,"userDefinedField4":null,"userDefinedField5":null}],"description":null,"edition":null,"isPeerReviewed":false,"contributorsList":[]}'
  recorded_at: Mon, 23 Jul 2018 18:24:39 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/123355/packages/2864301/titles?count=25&offset=1&orderby=titlename&resourcetype=all&search=&searchfield=titlename&selection=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - a9705759-8ea5-11e8-bcee-75e256983a07
      X-Amzn-Remapped-Content-Length:
      - '7292'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - KfmIOHn2IAMFUIQ=
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Mon, 23 Jul 2018 18:24:39 GMT
    body:
      encoding: UTF-8
      string: '{"totalResults":6,"titles":[{"titleId":125590,"titleName":"A and WMA
        Environmental Compliance News","publisherName":"Elsevier","identifiersList":[{"id":"1093-9253","source":"ResourceIdentifier","subtype":1,"type":0},{"id":"125590","source":"AtoZ","subtype":0,"type":9}],"subjectsList":[{"type":"TLI","subject":"Pollution
        Control & Waste Management"}],"isTitleCustom":false,"pubType":"Journal","customerResourcesList":[{"titleId":125590,"packageId":2864301,"packageName":"joes_test3","packageType":"Custom","isPackageCustom":true,"vendorId":123355,"vendorName":"API
        DEV CORPORATE CUSTOMER","locationId":0,"isSelected":true,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason":""},"managedCoverageList":[],"customCoverageList":[{"beginCoverage":"2018-05-08","endCoverage":"2018-05-31[...]
- request:
    method: put
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/vendors/123355/packages/2864301/titles/3129599
    body:
      encoding: UTF-8
      string: '{"isSelected":true,"titleName":"The Carole Lombard Handbook - Everything
        you need to know about Carole Lombard","pubType":"Book","url":"http://test.io"}'
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a9940ca0-8ea5-11e8-b807-69ddf383f3f5
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - KfmIQHhUoAMFidw=
      X-Amzn-Remapped-Server:
      - Microsoft-IIS/8.5
      X-Amzn-Remapped-Date:
      - Mon, 23 Jul 2018 18:24:39 GMT
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 23 Jul 2018 18:24:40 GMT
[...]
