---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=EKB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.5.2-SNAPSHOT.26 http://10.39.242.252:8081/configurations/entries..
        : 202 856us'
      - 'GET mod-configuration-5.0.1-SNAPSHOT.45 http://10.39.249.105:8081/configurations/entries..
        : 200 43364us'
      X-Real-Ip:
      - 10.128.0.3
      X-Original-Uri:
      - "/configurations/entries?query=module=EKB"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=EKB"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 551637/configurations
      X-Okapi-Url:
      - http://10.39.245.41:80
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get","configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "0e36cf22-f6d6-4826-87ce-a68325743d11",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.url",
            "description" : "EBSCO RM-API URL",
            "enabled" : true,
            "value" : "https://api.ebsco.io",
            "metadata" : {
              "createdDate" : "2018-09-17T20:39:04.101+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-17T20:39:04.101+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "fc40a929-e838-4afd-9efb-3924c2721188",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.customerId",
            "description" : "EBSCO RM-API Customer ID",
            "enabled" : true,
            "value" : "TEST_CUSTOMER_ID",
            "metadata" : {
              "createdDate" : "2018-09-17T20:39:04.304+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-17T20:39:04.304+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "fd378b4f-f79b-4ee3-b08f-182d20ed7571",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.apiKey",
            "description" : "EBSCO RM-API API Key",
            "enabled" : true,
            "value" : "TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2018-09-17T20:39:04.501+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-17T20:39:04.501+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 3,
          "resultInfo" : {
            "totalRecords" : 3,
            "facets" : [ ]
          }
        }
  recorded_at: Tue, 18 Sep 2018 17:53:55 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/titles?count=5&offset=1&orderby=relevance&resourcetype=all&search=ebsco&searchfield=titlename&searchtype=advanced&selection=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - cf7472a3-bb6b-11e8-be5f-e9c92396546f
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - NbZD_EnmIAMFvBA=
      X-Application-Context:
      - resourcemanagement.knowledgebase.gatewayservice:live:8092
      X-Amzn-Remapped-Date:
      - Tue, 18 Sep 2018 17:53:55 GMT
    body:
      encoding: UTF-8
      string: '{"totalResults":59,"titles":[{"titleId":1353080,"titleName":"EBSCO
        Citations","publisherName":"Unspecified","identifiersList":[],"subjectsList":[],"isTitleCustom":false,"pubType":"Database","contributorsList":[],"customerResourcesList":[{"titleId":1353080,"packageId":6027,"packageName":"EBSCO
        Citations","packageType":"Complete","isPackageCustom":false,"vendorId":19,"vendorName":"EBSCO","locationId":4474341,"isSelected":true,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason":null},"managedCoverageList":[],"customCoverageList":null,"coverageStatement":null,"managedEmbargoPeriod":{"embargoUnit":null,"embargoValue":null},"customEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"url":"http://search.ebscohost.com","userDefinedField1":null,"userDefinedField2":null,"userDefinedField3":null,"userDefinedField4":null,"userDefinedField5":null}]},{"titleId":481131,"titleName":"GeoRef
        (EBSCO)","publisherName":"Unspecified","identifiersList":[],"subjectsList":[],"isTitleCustom":false,"pubType":"Database","contributorsList":[],"customerResourcesList":[{"titleId":481131,"packageId":2616,"packageName":"GeoRef
        (EBSCO)","packageType":"Complete","isPackageCustom":false,"vendorId":19,"vendorName":"EBSCO","locationId":1743052,"isSelected":false,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason":null},"managedCoverageList":[],"customCoverageList":null,"coverageStatement":null,"managedEmbargoPeriod":{"embargoUnit":null,"embargoValue":null},"customEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"url":"http://search.ebscohost.com/login.aspx?authtype=cookie,ip,uid&profile=ehost&defaultdb=geh","userDefinedField1":null,"userDefinedField2":null,"userDefinedField3":null,"userDefinedField4":null,"userDefinedField5":null}]},{"titleId":481536,"titleName":"MEDLINE
        (EBSCO)","publisherName":"Unspecified","identifiersList":[],"subjectsList":[{"type":"TLI","name":"Health
        & Medicine (General)","subject":"Health & Medicine (General)"}],"isTitleCustom":false,"pubType":"Database","contributorsList":[],"customerResourcesList":[{"titleId":481536,"packageId":2641,"packageName":"MEDLINE
        (EBSCO)","packageType":"Complete","isPackageCustom":false,"vendorId":19,"vendorName":"EBSCO","locationId":1746035,"isSelected":true,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason":null},"managedCoverageList":[],"customCoverageList":null,"coverageStatement":null,"managedEmbargoPeriod":{"embargo[...]
