---
http_interactions:
- request:
    method: get
    uri: https://okapi.frontside.io/configurations/entries?query=module=EKB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Okapi-Tenant:
      - fs
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Okapi-Trace:
      - 'GET mod-authtoken-1.5.2-SNAPSHOT.26 http://10.39.242.252:8081/configurations/entries..
        : 202 1082us'
      - 'GET mod-configuration-5.0.1-SNAPSHOT.45 http://10.39.249.105:8081/configurations/entries..
        : 200 44238us'
      X-Real-Ip:
      - 10.128.0.4
      X-Original-Uri:
      - "/configurations/entries?query=module=EKB"
      X-Scheme:
      - https
      X-Auth-Request-Redirect:
      - "/configurations/entries?query=module=EKB"
      X-Okapi-Tenant:
      - fs
      X-Okapi-Request-Id:
      - 660866/configurations
      X-Okapi-Url:
      - http://10.39.245.41:80
      X-Okapi-Permissions:
      - '["configuration.entries.collection.get","configuration.entries.collection.get"]'
      X-Okapi-User-Id:
      - 1ad737b0-d847-11e6-bf26-cec0c932ce01
      X-Okapi-Token:
      - TEST_OKAPI_TOKEN
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "configs" : [ {
            "id" : "efadf3d8-59c3-4508-99d4-3e36e9247d87",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.url",
            "description" : "EBSCO RM-API URL",
            "enabled" : true,
            "value" : "https://api.ebsco.io",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.189+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.189+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "6b24b703-243a-4261-a7bf-0336d34f8c94",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.customerId",
            "description" : "EBSCO RM-API Customer ID",
            "enabled" : true,
            "value" : "TEST_CUSTOMER_ID",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.466+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.466+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          }, {
            "id" : "8038c4f3-0b09-4d97-be46-8a5236ef3f2f",
            "module" : "EKB",
            "configName" : "api_access",
            "code" : "kb.ebsco.apiKey",
            "description" : "EBSCO RM-API API Key",
            "enabled" : true,
            "value" : "TEST_API_KEY",
            "metadata" : {
              "createdDate" : "2018-09-12T12:34:52.788+0000",
              "createdByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01",
              "updatedDate" : "2018-09-12T12:34:52.788+0000",
              "updatedByUserId" : "1ad737b0-d847-11e6-bf26-cec0c932ce01"
            }
          } ],
          "totalRecords" : 3,
          "resultInfo" : {
            "totalRecords" : 3,
            "facets" : [ ]
          }
        }
  recorded_at: Wed, 12 Sep 2018 22:51:00 GMT
- request:
    method: get
    uri: https://api.ebsco.io/rm/rmaccounts/TEST_CUSTOMER_ID/titles?advancedsearch=true&count=5&offset=1&orderby=relevance&resourcetype=all&search=ebsco&searchfield=titlename&selection=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 5195b227-b6de-11e8-bab1-e3b8a5ca446b
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - NIS9KHniIAMFmPA=
      X-Application-Context:
      - resourcemanagement.knowledgebase.gatewayservice:live:8092
      X-Amzn-Remapped-Date:
      - Wed, 12 Sep 2018 22:51:00 GMT
    body:
      encoding: UTF-8
      string: '{"totalResults":59,"titles":[{"titleId":790251,"titleName":"FRANCIS
        (EBSCO)","publisherName":"Unspecified","identifiersList":[],"subjectsList":[],"isTitleCustom":false,"pubType":"Database","contributorsList":[],"customerResourcesList":[{"titleId":790251,"packageId":4737,"packageName":"FRANCIS
        (EBSCO)","packageType":"Complete","isPackageCustom":false,"vendorId":19,"vendorName":"EBSCO","locationId":3059535,"isSelected":false,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason":null},"managedCoverageList":[],"customCoverageList":null,"coverageStatement":null,"managedEmbargoPeriod":{"embargoUnit":null,"embargoValue":null},"customEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"url":"http://search.ebscohost.com/login.aspx?profile=ehost&defaultdb=fcs","userDefinedField1":null,"userDefinedField2":null,"userDefinedField3":null,"userDefinedField4":null,"userDefinedField5":null}]},{"titleId":480960,"titleName":"Inspec
        (EBSCO)","publisherName":"Unspecified","identifiersList":[],"subjectsList":[],"isTitleCustom":false,"pubType":"Database","contributorsList":[],"customerResourcesList":[{"titleId":480960,"packageId":2602,"packageName":"Inspec
        (EBSCO)","packageType":"Complete","isPackageCustom":false,"vendorId":19,"vendorName":"EBSCO","locationId":1742518,"isSelected":false,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason":null},"managedCoverageList":[],"customCoverageList":null,"coverageStatement":null,"managedEmbargoPeriod":{"embargoUnit":null,"embargoValue":null},"customEmbargoPeriod":{"embargoUnit":null,"embargoValue":0},"url":"http://search.ebscohost.com/login.aspx?authtype=cookie,ip,uid&profile=ehost&defaultdb=inh","userDefinedField1":null,"userDefinedField2":null,"userDefinedField3":null,"userDefinedField4":null,"userDefinedField5":null}]},{"titleId":482860,"titleName":"PsycCRITIQUES
        (EBSCO)","publisherName":"EBSCO","identifiersList":[],"subjectsList":[{"type":"TLI","name":"Psychology","subject":"Psychology"}],"isTitleCustom":false,"pubType":"Database","contributorsList":[],"customerResourcesList":[{"titleId":482860,"packageId":2979,"packageName":"PsycCRITIQUES
        (EBSCO)","packageType":"Complete","isPackageCustom":false,"vendorId":19,"vendorName":"EBSCO","locationId":1762224,"isSelected":false,"isTokenNeeded":false,"visibilityData":{"isHidden":false,"reason":null},"managedCoverageList":[],"customCoverageList":null,"coverageStatement":null,"managedEmbargoPeriod":{"embargoUnit":null[...]
